/* You can add global styles to this file, and also import other style files */

body {
	background-color: #191414;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3 {
	font-weight: 700;
}

button, .btn {
	margin: 10px;
}

a {
	color: #1DB954;
}

i {
  padding-left: 5px;
}

iframe {
  margin: 2rem 0;
}