nav {
	margin-bottom: 20px;
  color:#121212;
}

.navbar-brand {
  color: white;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: #1DB954;
}

#gesture,
h5 {
  color:black;
}

.modal-body {
  display: flex;
  justify-content: center;
}